<div class="container-title">Incidents</div>
<div id="incidents-container">
  <% @incidents.each do |incident| %>
    <%= react_component('Incident', { id: incident['id'], type: incident['type'], desc: incident['description'], victims: incident['victims'] }) %>
  <% end %>
</div>
