<header>
  <div class='header-wrapper'>
    <div class='header-left-wrapper'>
      <%= image_tag("logos/clap-once-logo-1x-web_360.png", id: "header-logo") %>
      <ul class="nav-link-list">
        <li class="nav-list-item"><a href="#">Dashboard</a></li>
      </ul>
    </div>
  </div>
</header>
